/* general stuff */

.boxContent {
    position: relative;
}

.container {
    /* background: #333 */
}

.container h {
    display: block;
}

.container p {
    display: block;
    padding: 0 3em;
}

.imageContainer {
    position: absolute;
    height: 100%;
    overflow: hidden !important;
}

.bgImage {
    z-index: 0;
    background: #333;
    opacity: 0.4;
    display: block;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.header {
    position: relative;
    /* border: 1px solid red; */
    padding: 0 0 3em 0;
    /* background: #333; */
    opacity: 0.8;
    color: white;
    font-size: 1.25em;
}
.section_1, .section_2 .box {
    /* height: 30%; */
    min-height: 450px;
}

.section_1, .section_2 .box {
    padding: 3em 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contentWrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.section_1 {
    background: white;
}

.section_2 .box {
    height: 100%;
    background-color: #f2f2f2;
    color: black;
}

.btn2 {
    color: black;
    border: 1px solid black;
    background: none;
}

.btn2:hover, .btn2:focus {
    color: white;
    background: black;
}

.section_2 .box .boxContent {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.section_2 .box:first-child {
    background-color: #0785F2;
    color: #f2f2f2;
}

.section_2 .box:first-child strong {
    color: white;
}

@media (min-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
    .contentWrap, .section_1>div {
        grid-column: 2/4;
    }
    .header {
        min-height: 500px;
    }
    .section_1>div {
        display: flex;
        justify-content: space-evenly;
    }
    .section_1, .section_2 .box {
        padding: 3em 4em;
    }
    .section_2 .box {
        grid-column: span 2;
    }
    .buttons {
        position: absolute;
        bottom: 0em;
    }
}