.container {
    background: #f2f2f2;
    width: 100vw;
    height: 100vh;
}

.card {
    background: white;
    padding: 2em;
    text-align: center;
}

.form > * {
    padding: 0.5em;
}

.label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.field {
    height: 3em;
    width: 100%;
}

.textarea {
    resize: none;
    height: 10em;
    width: 100%;
}

.heading {
    margin: 0;
    padding: 0.5em 0 1.5em 0;
}

.submit {
    margin: 0;
    padding: 1.5em 0.5em;
}

.submit>* {
    width: 100%;
}

@media(min-width: 900px) {
    .container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .card {
        min-width: 70vw;
        max-width: 90vw;
        min-height: 70vh;
        box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    }
    .grid {
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 2fr 5fr;
    }
    .label {
        display: flex;
        justify-content: flex-start;
    }
    .input {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .submit {
        text-align: center;
    }
    .submit>* {
        min-width: 15em;
        width: auto;
    }
}